body > #root > div {
  height: 100vh;
}

#root {

  margin: 0 auto;
  padding: 2rem;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #77806e;
}

.appRow {
  padding-top: 10px;
  padding-bottom: 10px;
}

label {
  color: black;
}

.recipeImg {
  height: 10rem;
  border-radius: 10px;
}

.list-icons {
  align-items: center;
}

i {
  font-size: 2rem;
}
